<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o directorio existe físicamente, acceder directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # De lo contrario, enviar todo al Front Controller
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>

